.input {
  display: flex;
  flex-direction: column;
  height: 53px;
  width: 100%;
  border-radius: 12px;
  background-color: #f4f4f4;
  position: relative;
  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: 500;
    background-color: transparent;
    border: none;
    padding: 25px 10px 10px;
    box-sizing: border-box;
    z-index: 4;
  }
  &-label {
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 400;
    user-select: none;
    position: absolute;
    top: 17px;
    left: 10px;
    transition: .1s linear;
  }

  input:focus + &-label,
  input:not(:placeholder-shown) + &-label {
    top: 5px;
    font-size: 12px;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input::placeholder {
    background-color: transparent;
  }
  
  input:focus {
    outline: none;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
}
